<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ConnStringLocal" connectionString="Server=localHost;Database=tp2_net; Trusted_Connection=True; "
   providerName="System.Data.SqlClient" />
  <add name="ConnStringExpress" connectionString="Server=localhost\SQLEXPRESS;Database=tps_net;&#xA;    Integrated Security=true; User=net; Password=net;"
   providerName="System.Data.SqlClient" />
  <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=tp2_net; Integrated&#xA;    Security=true; User=net; Password=net;"
   providerName="System.Data.SqlClient" />
  <add name="UI.Desktop.Properties.Settings.tp2_netConnectionString"
   connectionString="Data Source=localHost;Initial Catalog=tp2_net;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="UI.Desktop.Properties.Settings.tp2_netConnectionString1"
   connectionString="Data Source=.;Initial Catalog=tp2_net;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>